<div class="px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <div class="mx-auto flex">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <div class="flex justify-between items-center">
        <h3 class="font-bold text-4xl">Event</h3>
        <%= link_to 'Back to events', decoded_messages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
      <%= render @decoded_message %>

    </div>
  </div>
</div>
<% if @decoded_message_insights %>
  <br />
  <div class="px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <h1> Insights: </h1>

    <%= line_chart @decoded_message_insights %>
  </div>
<% end %>
