<div class="px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <h1> Transactions insights: </h1>
  <%= line_chart @transactions_insights %>
</div>
<br />
<div class="px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <h1> Accounts insights: </h1>

  <%= line_chart @accounts_insights %>
</div>
